#header h1 { color: blue; }

#days {color: red}

.nav{
  display: inline;
  padding: 10px 20px 10px 20px;
  background-color: skyblue;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.nav:hover{
  background-color: #3CBC8D;
}

.web {text-decoration-line: line-through; }

input[type=text] { background-color: #3CBC8D; }

.section.projects { text-align: center; }

.uppercase { text-transform: uppercase; }

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

td, th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
}

td:hover {background-color: #ddd;}

.up{
  display: inline;
  padding: 10px;
  background-color: skyblue;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.programmer{
  display: inline;
  padding: 10px 30px 10px 30px;
  background-color: skyblue;
  position: absolute;
  top: 330px;
  left: 20px;
}

.avatar{
  float: left;
}

fieldset{
  clear: both;
}